@model List<EmployeeMVC.Models.Employee>
@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>

<a href="/Employee/Create" class="btn btn-primary">Add New Employee</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr id="employee-@employee.EmployeeId">
                <td>@employee.Name</td>
                 @* <td>@employee.DepartmentName</td>
                  <td>@employee.DesignationName</td> *@
                <td>
                    <a href="javascript:void(0);" class="btn btn-warning" onclick="editEmployee(@employee.EmployeeId)">Edit</a>
                    <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteEmployee(@employee.EmployeeId)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    function editEmployee(id) {
         $.get("/Employee/Edit/" + id, function (data) {
            
        });
    }

    function deleteEmployee(id) {
        $.ajax({
            url: '/Employee/Delete/' + id,
            type: 'DELETE',
            success: function (result) {
                $("#employee-" + id).remove();
            },
            error: function (err) {
                alert("Error deleting employee!");
            }
        });
    }
</script>
